<h1 style="color:#F72585">Tipos de datos en estadística inferencial</h1>

Aquí tenemos en cuenta los diferentes tipos de datos o variables estructuradas en cualquier problema de ciencia de datos.

* datos categóricos: ordinales y nominales
* datos numéricos: discretos y continuos

a continuación exploraremos un dataset que contiene todos estos tipos de datos: https://www.kaggle.com/lepchenkov/usedcarscatalog

<h2 style="color:#4CC9F0">Import Statements</h2>

In [20]:
import numpy as np
import pandas as pd
from typing import Dict, List

<h2 style="color:#4CC9F0">Notebook Presentation</h2>

In [13]:
pd.options.display.float_format = '{:,.2f}'.format

<h2 style="color:#4CC9F0">Data Sets</h2>

In [14]:
df = pd.read_csv('cars_types.csv')
df.head(3)

,manufacturer_name,model_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_has_gas,engine_type,engine_capacity,...,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,duration_listed
0,Subaru,Outback,automatic,silver,190000,2010,gasoline,False,gasoline,2.50,...,True,True,True,False,True,False,True,True,True,16
1,Subaru,Outback,automatic,blue,290000,2002,gasoline,False,gasoline,3.00,...,True,False,False,True,True,False,False,False,True,83
2,Subaru,Forester,automatic,red,402000,2001,gasoline,False,gasoline,2.50,...,True,False,False,False,False,False,False,True,True,151

<h2 style="color:#4CC9F0">Data Cleaning</h2>

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38531 entries, 0 to 38530
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   manufacturer_name  38531 non-null  object
 1   model_name         38531 non-null  object
 2   transmission       38531 non-null  object
 3   color              38531 non-null  object
 4   odometer_value     38531 non-null  int64
 5   year_produced      38531 non-null  int64
 6   engine_fuel        38531 non-null  object
 7   engine_has_gas     38531 non-null  bool
 8   engine_type        38531 non-null  object
 9   engine_capacity    38521 non-null  float64
 10  body_type          38531 non-null  object
 11  has_warranty       38531 non-null  bool
 12  state              38531 non-null  object
 13  drivetrain         38531 non-null  object
 14  price_usd          38531 non-null  float64
 15  is_exchangeable    38531 non-null  bool
 16  location_region    38531 non-null  object
 17  number_of_photos   38531 non-null  int64
 18  up_counter         38531 non-null  int64
 19  feature_0          38531 non-null  bool
 20  feature_1          38531 non-null  bool
 21  feature_2          38531 non-null  bool
 22  feature_3          38531 non-null  bool
 23  feature_4          38531 non-null  bool
 24  feature_5          38531 non-null  bool
 25  feature_6          38531 non-null  bool
 26  feature_7          38531 non-null  bool
 27  feature_8          38531 non-null  bool
 28  feature_9          38531 non-null  bool
 29  duration_listed    38531 non-null  int64
dtypes: bool(13), float64(2), int64(5), object(10)
memory usage: 5.5+ MB

Aquí vemos que los tipos de datos se identifican de la siguiente manera: 

* Categoricos: `object`, `bool`
* Numéricos: `int64` (discreto), `float64` (contínuo)

Ahora, con la libreria pandas podemos generar un conjunto completo de estadisticos descriptivos del dataset usando `pandas.DataFrame.describe()`

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html

In [16]:
df.describe()

,odometer_value,year_produced,engine_capacity,price_usd,number_of_photos,up_counter,duration_listed
count,"38,531.00","38,531.00","38,521.00","38,531.00","38,531.00","38,531.00","38,531.00"
mean,"248,864.64","2,002.94",2.06,"6,639.97",9.65,16.31,80.58
std,"136,072.38",8.07,0.67,"6,428.15",6.09,43.29,112.83
min,0.00,"1,942.00",0.20,1.00,1.00,1.00,0.00
25%,"158,000.00","1,998.00",1.60,"2,100.00",5.00,2.00,23.00
50%,"250,000.00","2,003.00",2.00,"4,800.00",8.00,5.00,59.00
75%,"325,000.00","2,009.00",2.30,"8,990.00",12.00,16.00,91.00
max,"1,000,000.00","2,019.00",8.00,"50,000.00",86.00,"1,861.00","2,232.00"